## Project 2: Currency Predictor

### Prompt

*"Large companies often deal with foreign currency transactions while doing international business, and as a result, they are always looking for anything that can help them better understand the future direction and risk of various currencies. In this exercise, you will predict future movements in the value of the Japanese yen versus the U.S. dollar."*

### Approach

I'll take a first pass using what I've learned from the module 2 guides, and then see if I can find public notebooks to compare against for gap analysis.

The first step is finding the data. Luckily, [WSJ has historical prices for the USDJPY pair in a downloadable CSV](https://www.wsj.com/market-data/quotes/fx/USDJPY/historical-prices). I selected data from 1/1/2000 through 1/1/2023 as an initial sample, but we'll see how much I actually got.

In [1]:
import pandas
data = pandas.read_csv('./data/USDJPY HistoricalPrices.csv', engine='python')

In [2]:
data.head()

       Date    Open    High     Low   Close
0  12/30/22  133.02  133.09  130.78  131.12
1  12/29/22  134.46  134.46  132.88  133.03
2  12/28/22  133.50  134.50  133.38  134.48
3  12/27/22  132.88  133.59  132.63  133.50
4  12/26/22  132.76  133.24  132.31  132.88

In [3]:
data.tail()

          Date    Open    High     Low   Close
4388  03/07/06  117.58  117.85  117.58  117.85
4389  03/06/06  116.38  117.58  116.38  117.58
4390  03/03/06  115.86  116.38  115.86  116.38
4391  03/02/06  116.08  116.08  115.86  115.86
4392  03/01/06  116.08  116.08  116.08  116.08

Looks like it only goes back to March '06. All in all, not bad.