I came across the [Tensorflow time series tutorial](https://www.tensorflow.org/tutorials/structured_data/time_series) and wanted to see if I could apply it to [project 4](./project-4-stock-predictor.ipynb). This notebook relies on [Python 3.10](https://www.python.org/downloads/), [the project 4 datasets](./data/README.md), and a CUDA environment setup via [gpu-venv.sh](./gpu-venv.sh).

In [33]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3' # https://stackoverflow.com/q/40426502/3178898
import pandas as pd
import numpy as np
import tensorflow as tf # cuda warnings are a known bug https://github.com/tensorflow/tensorflow/issues/62075
keras = tf.keras
from keras import utils, callbacks, optimizers, layers, losses, metrics, Model, Sequential
from sklearn.model_selection import TimeSeriesSplit

In [34]:
def load_time_series(path:str, index:str, target:str, **kwargs) -> pd.DataFrame:
    data = pd.read_csv(path, index_col=index, usecols=[index, target], **kwargs).dropna()
    data.index = pd.to_datetime(data.index, **kwargs).to_period('D')
    return data.sort_index()

btc_data = load_time_series('./data/BTC-USD.csv', 'Date', 'Close')
fng_data = load_time_series('./data/crypto-FNG.csv', 'date', 'fng_value', dayfirst=True)
data = btc_data.join(fng_data, how='inner').set_axis(['close', 'fng'], axis=1)
with pd.option_context('display.max_rows', 4): display(data)

                   close   fng
2018-02-01   9170.540039  30.0
2018-02-02   8830.750000  15.0
...                  ...   ...
2023-07-30  29275.308594  52.0
2023-08-01  29315.177734  53.0

[2004 rows x 2 columns]

In [35]:
# https://www.tensorflow.org/tutorials/structured_data/time_series#time
features = pd.DataFrame(index=data.index)
features['dayofweek'] = data.index.dayofweek
features['dayofyear'] = data.index.dayofyear
features['week'] = data.index.week

for feature, period in zip(features.columns, [7, 365.2425, 52.143]):
    features[f'{feature}_sin'] = np.sin(features[feature] * (2 * np.pi / period))
    features[f'{feature}_cos'] = np.cos(features[feature] * (2 * np.pi / period))

features = features.drop(['dayofweek', 'dayofyear', 'week'], axis=1)
features

,dayofweek_sin,dayofweek_cos,dayofyear_sin,dayofyear_cos,week_sin,week_cos
2018-02-01,0.433884,-0.900969,0.523104,0.852269,0.566700,0.823924
2018-02-02,-0.433884,-0.900969,0.537687,0.843144,0.566700,0.823924
2018-02-03,-0.974928,-0.222521,0.552111,0.833770,0.566700,0.823924
2018-02-04,-0.781831,0.623490,0.566372,0.824150,0.566700,0.823924
2018-02-05,0.000000,1.000000,0.580465,0.814285,0.661633,0.749828
...,...,...,...,...,...,...
2023-07-27,0.433884,-0.900969,-0.422847,-0.906201,-0.455898,-0.890032
2023-07-28,-0.433884,-0.900969,-0.438373,-0.898793,-0.455898,-0.890032
2023-07-29,-0.974928,-0.222521,-0.453769,-0.891119,-0.455898,-0.890032
2023-07-30,-0.781831,0.623490,-0.469031,-0.883182,-0.455898,-0.890032
2023-08-01,0.781831,0.623490,-0.499134,-0.866525,-0.559581,-0.828776

In [36]:
# normalization
normalized = (data - data.mean()) / data.std()
normalized

               close       fng
2018-02-01 -0.730132 -0.608339
2018-02-02 -0.750958 -1.299943
2018-02-03 -0.729864 -0.147271
2018-02-04 -0.784898 -0.884981
2018-02-05 -0.865909 -1.484370
...              ...       ...
2023-07-27  0.498161  0.359905
2023-07-28  0.504814  0.406012
2023-07-29  0.507123  0.406012
2023-07-30  0.502121  0.406012
2023-08-01  0.504565  0.452119

[2004 rows x 2 columns]

In [37]:
processed = pd.concat([normalized, features], axis=1) # sin/cos are already [-1, 1]
processed

,close,fng,dayofweek_sin,dayofweek_cos,dayofyear_sin,dayofyear_cos,week_sin,week_cos
2018-02-01,-0.730132,-0.608339,0.433884,-0.900969,0.523104,0.852269,0.566700,0.823924
2018-02-02,-0.750958,-1.299943,-0.433884,-0.900969,0.537687,0.843144,0.566700,0.823924
2018-02-03,-0.729864,-0.147271,-0.974928,-0.222521,0.552111,0.833770,0.566700,0.823924
2018-02-04,-0.784898,-0.884981,-0.781831,0.623490,0.566372,0.824150,0.566700,0.823924
2018-02-05,-0.865909,-1.484370,0.000000,1.000000,0.580465,0.814285,0.661633,0.749828
...,...,...,...,...,...,...,...,...
2023-07-27,0.498161,0.359905,0.433884,-0.900969,-0.422847,-0.906201,-0.455898,-0.890032
2023-07-28,0.504814,0.406012,-0.433884,-0.900969,-0.438373,-0.898793,-0.455898,-0.890032
2023-07-29,0.507123,0.406012,-0.974928,-0.222521,-0.453769,-0.891119,-0.455898,-0.890032
2023-07-30,0.502121,0.406012,-0.781831,0.623490,-0.469031,-0.883182,-0.455898,-0.890032
2023-08-01,0.504565,0.452119,0.781831,0.623490,-0.499134,-0.866525,-0.559581,-0.828776

In [38]:
# https://www.tensorflow.org/tutorials/structured_data/time_series#data_windowing
# The idea as I understand it is to create a sliding window of inputs and predictions along a 1D tensor
# This allows past time periods to be used as an inherent part of the process (vs creating lag features).
class WindowGenerator:
    def __init__(self, input_width:int, label_width:int, shift:int,
                 data:pd.DataFrame, train_idx:pd.Index, valid_idx:pd.Index, #test_idx:pd.Index,
                 label_cols:list[str]=None) -> None:
        # store raw data
        self._train_data = data.iloc[train_idx, :]
        self._valid_data = data.iloc[valid_idx, :]
        # self._test_data = data.iloc[test_idx, :]
        # get label columns
        self.label_cols = label_cols
        if label_cols is not None:
            self.label_cols_idxs = {name: i for i, name in enumerate(label_cols)}
        self.col_idxs = {name: i for i, name in enumerate(data.columns)}
        # get window params
        self.input_width = input_width
        self.label_width = label_width
        self.shift = shift
        self.window_size = input_width + shift
        self.input_slice = slice(0, input_width) # TIL
        self.label_start = self.window_size - self.label_width
        self.label_slice = slice(self.label_start, None)
        idxs = np.arange(self.window_size)
        self.input_idxs = idxs[self.input_slice]
        self.label_idxs = idxs[self.label_slice]

    def __repr__(self) -> str:
        return '\n'.join([
            f'Window size: {self.window_size}',
            f'Input indices: {self.input_idxs}',
            f'Label indices: {self.label_idxs}',
            f'Label column(s): {self.label_cols}',
        ])
    
    def split_window(self, tensor:tf.Tensor) -> tuple[tf.Tensor, tf.Tensor]:
        inputs = tensor[:, self.input_slice, :]
        labels = tensor[:, self.label_slice, :]
        if self.label_cols is not None:
            labels = tf.stack([labels[:, :, self.col_idxs[name]] for name in self.label_cols], axis=-1)
        inputs.set_shape([None, self.input_width, None])
        labels.set_shape([None, self.label_width, None])
        return inputs, labels
    
    def make_dataset(self, data:pd.DataFrame) -> tf.data.Dataset:
        data = np.array(data, dtype=np.float32)
        dataset = utils.timeseries_dataset_from_array(data=data, targets=None, sequence_length=self.window_size,
                                                            sequence_stride=1, shuffle=True, batch_size=32)
        dataset = dataset.map(self.split_window)
        return dataset
    
    @property
    def train_data(self) -> tf.data.Dataset:
        return self.make_dataset(self._train_data)
    
    @property
    def valid_data(self) -> tf.data.Dataset:
        return self.make_dataset(self._valid_data)

In [39]:
# https://www.tensorflow.org/tutorials/structured_data/time_series#baseline
# A performance baseline to measure against more complex models.
class BaselineModel(Model):
    def __init__(self, label_idx:int=None) -> None:
        super().__init__()
        self.label_idx = label_idx
    
    def call(self, inputs:tf.Tensor) -> tf.Tensor:
        if self.label_idx is None:
            return inputs
        result = inputs[:, :, self.label_idx]
        return result[:, :, tf.newaxis]

In [40]:
def compile_and_fit(model:Model, window:WindowGenerator, patience:int=2, epochs:int=20) -> callbacks.History:
    early_stopping = callbacks.EarlyStopping(monitor='val_loss', patience=patience, mode='min')
    model.compile(loss=losses.MeanSquaredError(), optimizer=optimizers.Adam(), metrics=[metrics.MeanAbsoluteError()])
    history = model.fit(window.train_data, epochs=epochs, validation_data=window.valid_data, callbacks=[early_stopping], verbose=0)
    return history

CONV_WIDTH = 3

baseline = BaselineModel()
linear = Sequential([layers.Dense(1)])
dense = Sequential([
    layers.Dense(64, activation='relu'),
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
])
dense_multi = Sequential([
    layers.Flatten(), # shape: (time, features) => (time * features)
    layers.Dense(32, activation='relu'),
    layers.Dense(32, activation='relu'),
    layers.Dense(1),
    layers.Reshape([1, -1]) # shape: (outputs) => (1, outputs)
])
conv = Sequential([
    layers.Conv1D(32, kernel_size=(CONV_WIDTH,), activation='relu'),
    layers.Dense(32, activation='relu'),
    layers.Dense(1)
])

performance = {}
for i, (train_idx, valid_idx) in enumerate(TimeSeriesSplit().split(data)):
    data_args = dict(data=processed, train_idx=train_idx, valid_idx=valid_idx, label_cols=['close'])
    win_1_step = WindowGenerator(input_width=1, label_width=1, shift=1, **data_args)
    win_conv = WindowGenerator(input_width=CONV_WIDTH, label_width=1, shift=1, **data_args)
    
    # # debug
    # win = WindowGenerator(input_width=6, label_width=1, shift=1, **data_args)
    # display(win)
    # example = tf.stack([np.array(win_6_step._train_data[n:n+win.window_size]) for n in range(0, 300, 100)])
    # inputs, labels = win.split_window(example)
    # print('All shapes are: (batch, time, features)')
    # print(f'Window shape: {example.shape}')
    # print(f'Inputs shape: {inputs.shape}')
    # print(f'Labels shape: {labels.shape}')
    # display(win_6_step.train_data.element_spec)
    # break

    baseline.label_idx=win_1_step.label_cols_idxs['close']
    compile_and_fit(baseline, win_1_step)
    performance['baseline'] = baseline.evaluate(win_1_step.valid_data)
    compile_and_fit(linear, win_1_step)
    performance['linear'] = linear.evaluate(win_1_step.valid_data)
    compile_and_fit(dense, win_1_step)
    performance['dense'] = dense.evaluate(win_1_step.valid_data)

    compile_and_fit(dense_multi, win_conv)
    performance['dense_multi'] = dense_multi.evaluate(win_conv.valid_data)

    compile_and_fit(conv, win_conv)
    performance['conv'] = dense_multi.evaluate(win_conv.valid_data)
    break

performance

11/11 [==============================] - 0s 428us/step - loss: 4.0172e-04 - mean_absolute_error: 0.0120
11/11 [==============================] - 0s 414us/step - loss: 1.1470 - mean_absolute_error: 0.8930
11/11 [==============================] - 0s 457us/step - loss: 0.0484 - mean_absolute_error: 0.1919
11/11 [==============================] - 0s 475us/step - loss: 0.0425 - mean_absolute_error: 0.1800
11/11 [==============================] - 0s 459us/step - loss: 0.0425 - mean_absolute_error: 0.1800

{'baseline': [0.0004017213359475136, 0.012007172219455242],
 'linear': [1.1469807624816895, 0.8929702639579773],
 'dense': [0.04841231554746628, 0.1919330358505249],
 'dense_multi': [0.04245452582836151, 0.17999327182769775],
 'conv': [0.04245452210307121, 0.17999325692653656]}